@import './base.css';

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f9faf5;
  margin: 0;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500; /* Medium */
}

p,
span,
div {
  font-weight: 400; /* Regular */
}

html,
body {
  overflow-y: hidden;
  background-color: #f9faf5;
  font-family: 'Inter', sans-serif;
}
